/* The main content */

.event-map-wrapper {
  display: grid;
  grid: auto/ 500px auto;

  /* row/colum colum */
  grid-gap: 5px;
  height: 100vh;
}

.eventCard {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease;
  background-color: rgba(25, 25, 250, 1);
  color: white;
  padding: 1rem 5rem;
}

.map-container {
  width: 100%;
  grid-area: 1/2/6/3;

  /* grid-column-start: 2; 
  grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 6;  */
}

.eventCard:hover {
  background-color: #3a3a3a;
}

.eventCard a {
  color: #FFF;
  text-decoration: none;
}

.eventCard a:hover {
  color: gray;
}

.landingEvents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  background-color: black;
}