.map_canvas {
  position: relative;
  height: 100%;
}

[id='googleMap'] {
  position: relative;
  height: 100%;
  width: 100%;
}

.landingMap, .mapOverlay {
  position: relative;
  height: 20rem;
  width: 100%;
  z-index: -2;
  border-radius: 1rem;

  h2 {
    position: absolute;
    top: 0;
    line-height: 20rem;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 3rem;
  }
}

.mapOverlay {
  position: absolute;
  z-index: 0;
  top: 0;
  background: linear-gradient(rgba(0, 20, 150, 0.8), rgba(255, 255, 255, 0));
}