nav.navbar-default {
  margin: 0;
  z-index: 3;
  background-color: rgba(200, 200, 200, 0.7);
  height: 3rem;
  border-radius: 0;
  border: none;

  li {
    height: 3rem;
  }

  .dropdown_menu {
    color: #000;
  }

  .navbar-brand {
    padding: 3px;

    img {
      height: 100%;
    }
  }

  .select_wrapper {
    height: 100%;
  }

  .user_avatar {
    position: relative;
    height: 100%;
    margin: 0;
  }

  .navbar-nav li a {
    color: white;
  }
}