
  .landingEvents {
    margin-top: 5rem;
    margin-left: 2rem;
  }

   
    .scroll-wrapper-x {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  

  /* Large devices */
  @media screen and (min-width: 900px) {
     .scroll-wrapper-x {
      // display: grid; 
      flex-wrap: wrap;
  flex-grow: 1;

     // grid-template-columns: 1fr 1fr 1fr;
     }
   }

    .scroll-wrapper-y {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }
    }