
  .landingEvents {
    margin-top: 10%;
  }

   
    .scroll-wrapper-x {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  

  /* Large devices */
  // @media screen and (min-width: 1200px) {
  //   .scroll-wrapper-x {
  //     display: grid;
  //     grid-template-columns: 1fr 1fr 1fr;
  //     grid-gap: 1rem;
  //   }
  // }