.header {
  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: gray;
    }
  }

  li {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header-links-right-signedout {
    float: right;

    li {
      margin-right: 3rem;
      margin-top: 3rem;
      font-weight: bold;
    }
  }

  .AccountsUI2 {
    list-style-type: none;
    text-decoration: none;
  }

  .header-links-right-signedin {
    float: right;
  }

  .icon {
    margin: .5rem .5rem;
    height: 3rem;
    border-radius: 50%;

    &.avatar {
      z-index: 1;
    }
  }

  .header-links-left-signedout {
    li {}
  }

  .accounts-dialog {
    & .login-password-form,
    & .or {
      display: none;
    }

    // & .login-close-text {
    //   color: red;

    //   &::before {

    //   }
    // }
 
  }
  

  // .dropdown .dropdown-menu {
  //     -webkit-transition: all 0.5s;
  //     -moz-transition: all 0.5s;
  //     -ms-transition: all 0.5s;
  //     -o-transition: all 0.5s;
  //     transition: all 0.5s;

  //     max-height: 0;
  //     display: block;
  //     overflow: hidden;
  //     opacity: 0;
  // }

  // .dropdown:hover .dropdown-menu {
  //     max-height: 200px;
  //     opacity: .96;
  // }
}

.accounts-ui {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-color: #225199;
 .fields, .buttons, .password-or-service, .or-sep, .messages {
    display: none
  }
 button {
    margin: 3px;
    border: none;
    padding: 11px;
    color: white;
    border-radius: 3px;
    background-color: #2964FF;
  }
  .message.warning {
    color: rgba(255,65,0,1);
    display: block;
    width: 100%;
    text-align: center;
    padding: 3px;
  }
 .messages  {
  display: none;
 }
  & > * { //all direct children of flex container
      margin: 3px 0;
      display: flex;
    }
  .buttons  {
  a {
    // display: none;
      text-decoration: underline;
      color: #225199;
      padding: 11px;
      padding-left: 1rem;
      vertical-align: middle;
    }
  }
  .password-or-service {
    text-align: center;
  }

  label {
    padding-right: 1.3rem;
  }
    .social-buttons {
      display: flex; 
      justify-content: space-evenly;

      .facebook {
        $color: #3b5998;
        background-color: $color;
        &:hover {
          background-color: darken($color, 10%);
        }
      }
      .google {
        $color: #d62d20;
        background-color: $color;
        &:hover {
          background-color: darken($color, 10%);
        }
      }
    }
  }