/* Mobile phone layout */

.map-container {
  height: 100%;
}

.map_canvas {
  position: relative;
  height: 100%;
}

[id='googleMap'] {
  position: relative;
  height: 100%;
  width: 100%;
}

.landingMap, .mapOverlay {
  position: relative;
  height: 20rem;
  width: 100vw;
  z-index: -2;

  h2 {
    position: absolute;
    top: 0;
    line-height: 20rem;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 3rem;
  }
}

.mapOverlay {
  position: absolute;
  z-index: 0;
  top: 0;
  // background: linear-gradient(rgba(0, 20, 150, 0.8), rgba(255, 255, 255, 0));
}

.map-container {
  width: 100%;
  grid-area: 1/2/6/3;

  /* grid-column-start: 2; 
  grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 6;  */
}

.event-map-wrapper {
  display: grid;
  grid: auto/ 500px auto;

  /* row/colum colum */
  grid-gap: 5px;
  height: 100vh;
}
