[id='googleMap'] {
  position: relative;
  height: 100%;
  width: 100%;
}

.landingMap {
  position: relative;
  height: 20rem;
  width: 100vw;
}

.mapOverlay {
  position: absolute;
  z-index: 0;
  top: 0;
}

.map-container {
  width: 100%;
  height: 300px;
}