@import url("fonts.googleapis.com/css?family=Amatic+SC");

@import url("fonts.googleapis.com/css?family=Baloo Bhaijaan");

@import url("fonts.googleapis.com/css?family=Walter Turncoat");

@import url("fonts.googleapis.com/css?family=Bellefair");

html,
body {
  font-family: Georgia, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bellefair', cursive;
}

p {}

a {}